[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
mock = "*"
pylint = "*"
coverage = "*"
yapf = "*"

[packages]
google-api-core = "*"
google-api-python-client = "*"
oauth2client = "*"

[requires]
python_version = "3.7"
