-i https://pypi.org/simple
-r requirements-base.txt
azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob
azure-mgmt-network
azure-mgmt-monitor
msrest
msrestazure
