-i https://pypi.org/simple
PyJWT<2  # Bad overlap in azure dependencies
httplib2
google-api-python-client
google-auth
boto3
botocore
azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob
azure-mgmt-network
azure-mgmt-monitor
msrest
msrestazure
netaddr
sshpubkeys
pycryptodome
