-i https://pypi.org/simple
httplib2>=0.15.0
google-api-python-client
google-auth
boto3
botocore
azure-common
azure-core
azure-identity
azure-mgmt-compute
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob
azure-mgmt-network
azure-mgmt-monitor
msrest
msrestazure
sshpubkeys
pycryptodome
