name: Install and test (setup.py)

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Update PIP and install crypto package
      run: python -m pip install -U pip && pip install cryptography
    - name: Install wheel
      run: pip install wheel
    - name: Install poetry
      run: |
        python -m pip install poetry
    - name: Cache the virtualenv
      uses: actions/cache@v2
      with:
        path: ./.venv
        key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}
    - name: Install dependencies through Poetry
      run: |
        python -m poetry install
    - name: Test
      run: |
        pip install mock
        python -m poetry run python -m unittest
